
.vs/Mirrra/FileContentIndex/3b0673a2-d352-4339-8f4a-0703a92fab06.vsidx
obj/project.nuget.cache
obj/project.assets.json
obj/Mirrra.csproj.nuget.g.props
obj/Mirrra.csproj.nuget.dgspec.json
obj/Debug/net8.0/Mirrra.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/Mirrra.csproj.AssemblyReference.cache
obj/Debug/net8.0/Mirrra.assets.cache
obj/Debug/net8.0/Mirrra.AssemblyInfoInputs.cache
obj/Debug/net8.0/Mirrra.AssemblyInfo.cs
