@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Узнать больше о создании сайтов на ASP.NET CORE <a href="https://learn.microsoft.com/aspnet/core"></a>.</p>
</div>


